.createOverlay-form{
  width:100%;
}
.input-title{
  width:100%;
  // right:0;
}
.upload-div,.upload-p{
  text-align: center;
}
.input-upload{
  width:280px;
}
.upload-img{
  margin-top:30px;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.img-desc{
  padding-top:0px;
}
.btn-div{
 padding-top:80px; 
}
.save-btn{
  width:120px;
}

.upload-column {
  text-align: center;
  .upload-suggestion {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .upload-btn-wrapper {
    position: relative;
    display: inline-block;
    .hidden-upload {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      opacity: 0;
    }
  }
}

