.createOverlay-form{
  width:100%;
}
.input-title{
  width:100%;
  // right:0;
}
.upload-div,.upload-p{
  text-align: center;
}
.input-upload{
  width:280px;
}
.upload-img{
  margin-top:30px;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.img-form{
  margin-top:65px;
}
.img-desc{
  padding-top:0px;
}
.btn-div{
 padding-top:80px; 
}
.save-btn{
  width:120px;
}